{% include 'header.html' %}

<!-- operation alert -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- main content -->
<div class="info">
    <div class="category_block">
        <h2>Categories</h2>
        <ul class="categories">
            {% for category in categories %}
            <li><a class="item_link" href="{{ url_for('itemsList', category_name = category.name) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="items_block">
        {% if 'username' in session %}
        <div>
            <a class="add" href="{{ url_for('addItem') }}">Add Item</a>
        </div>
        {% endif %}
        <h2>Latest Items</h2>
        <ul class="items">
            {% for item in items %}
            <li><a class="item_link" href="{{ url_for('showItem', category_name = item.course, item_name = item.name) }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include 'footer.html' %}
