{% include 'header.html' %}

<!-- operation alert -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- main content -->
<ul class="categories">
{% for c in categories %}
    <li class="{{ 'highlight basic' if c.name == category.name else 'basic' }}"><a href="{{ url_for('itemsList', category_name = c.name) }}">{{ c.name }}</a></li>
{% endfor %}
</ul>
<div class="items_block">
    <div class="add">
        <a href="{{ url_for('addItem') }}">Add Item</a>
    </div>
    <h2>{{ category.name }}({{ count }} {{ 'item' if count == 0 or count == 1 else 'items' }})</h2>
    <ul class="items">
    {% for item in items %}
        <li><a href="{{ url_for('showItem', category_name = item.course, item_name = item.name) }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
</div>

{% include 'footer.html' %}
